# Build output
build/
out/

# Gradle
.gradle/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# macOS
.DS_Store
**/.DS_Store

# Logs
*.log
